<!DOCTYPE html>
<html>
  <head>
    <title>About</title>
    <link href="/css/styles.css" rel="stylesheet">
  </head>

  <body>
    <div class="main-content">
      {{>header}}
      <p>{{title}}</p>
    </div>

    {{>footer}}
  </body>
</html>